.video-container {
  position: relative;
  border: 1px solid #333;
  font-family: "Lucida Grande", arial, helvetica, sans-serif;
}

.video-container video {
  background: #fff;
}

.video-loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff url(loader-white.gif) center center no-repeat;
}

.video-error {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff url(error.png) 50% 20px no-repeat;
  text-align: center;
}

.video-error span {
  display: block;
  padding: 260px 10em 0 10em;
}

.video-controller {
  position: absolute;
  bottom: 0;
  left: 0;
}

.video-controller {
  margin: 0;
  padding: 0;
}

.video-controller li {
  float: left;
  width: 25px;
  height: 24px;
  margin: 5px 0 5px 5px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  list-style: none;
  opacity: 0.9;
  cursor: pointer;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#000));
  background: -moz-linear-gradient(top,  #222,  #000);
}

.video-control-scrubber {
  position: relative;
}

.video-control-scrubber .video-control-bar {
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  height: 10px;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#fff));
  background: -moz-linear-gradient(top,  #dadada,  #ffff);
}

.video-control-scrubber-total {
  width: 375px;
  background-color: #808080;
}
