.video-container {
  position: relative;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  
  /* Shadows */
  -webkit-box-shadow: 0 0 20px #000;
  -moz-box-shadow: 0 0 20px #000;
}

.video-container video {
  background: #fff;
}

.video-container.video-fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.video-container.video-fullscreen video {
  position: absolute;
  top: 0;
  left: 0;
}

.video-loader,
.video-error {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.video-loader {
  background-image: url(loader-white.gif);
}

.video-error span {
  display: block;
  background-image: url(error.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding: 230px 10em 0 10em;
}

/***** Controller *****/
.video-controller {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  margin: 20px 0;
  padding: 0;
  border: 1px solid #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
  background: -moz-linear-gradient(top,  #222,  #111);
  color: #fff;
  font-size: 11px;
  opacity: 0.9;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  
  /* Shadows */
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
}

.video-controller li {
  display: block;
}

/***** Buttons *****/
.video-control-button {
  float: left;
  height: 25px;
  margin: 5px 0 5px 5px;
  cursor: pointer;
}

/***** Progress Bar *****/
.video-control-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
}

.video-control-progress ul {
  position: relative;
  width: 290px;
  height: 5px;
  margin: 5px;
  padding: 0;
  border: 1px solid #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#222));
  background: -moz-linear-gradient(top,  #000,  #222);
  
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.video-control-progress ul li {
  position: absolute;
  top: 0;
  left: 0;
  float: none;
  clear: both;
  width: 0;
  height: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#808080));
  background: -moz-linear-gradient(top,  #fff,  #808080);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.video-control-progress .video-control-position {
  width: 50%;
}

.video-control-progress .video-control-buffer {
  width: 75%;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#555));
  background: -moz-linear-gradient(top,  #333,  #555);
}


.xvideo-controller li {
  float: left;
  width: 25px;
  height: 24px;
  margin: 5px 0 5px 5px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  list-style: none;
  opacity: 0.9;
  cursor: pointer;
  
  
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#000));
  background: -moz-linear-gradient(top,  #222,  #000);
}

.xvideo-control-scrubber {
  position: relative;
}

.xvideo-control-scrubber .video-control-bar {
  display: block;
  position: absolute;
  top: 7px;
  left: 7px;
  height: 7px;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#fff));
  background: -moz-linear-gradient(top,  #dadada,  #ffff);
}

.xvideo-control-scrubber-total {
  width: 375px;
  background-color: #808080;
}
